<footer class="ae-container-fluid rk-footer ">
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
        <ul class="rk-menu rk-footer-menu">
          <li routerLinkActive="active" class="rk-menu__item">
            <a routerLink="home" class="rk-menu__link">Home</a>
          </li>
          <li routerLinkActive="active" class="rk-menu__item">
            <a routerLink="about" class="rk-menu__link">About</a>
          </li>
        </ul>
        <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">© </span><span class="ae-u-bolder">{{ year }} JUAN BARRA PORTFOLIO </span>All Right Reserved.</p>
      </div>
      <div class="ae-grid__item item-lg-4 au-xs-ta-center"><a href="#0" class="rk-social-btn ">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
          </svg></a><a href="#0" class="rk-social-btn ">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-twitter"></use>
          </svg></a><a href="#0" class="rk-social-btn ">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-pinterest"></use>
          </svg></a><a href="#0" class="rk-social-btn ">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-tumblr"></use>
          </svg></a></div>
      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
        <p class="rk-footer__text rk-footer__contact "> 
          <span class="ae-u-bold">Email: </span>
          <span class="ae-u-bolder"> 
            <a
          href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#111;&#64;&#106;&#117;&#97;&#110;&#98;&#97;&#114;&#114;&#97;&#46;&#99;&#108;" 
          class="rk-dark-color ">
          <span class="e-mail" data-user="otcatnoc" data-website="lc.arrabnauj"></span>
        </a>
      </span>
      </p>
        <p class="rk-footer__text rk-footer__by">Theme by <a href="http://pixeden.com" class="ae-u-bolder">Pixeden.</a></p>
      </div>
    </div>
  </footer>
